*{
    text-decoration: none;
}

#colortheory-red { /*Homepage color*/

    background-color: rgb(243, 165, 165);
}


#navbar-red {
    background-color: rgba(190, 46, 46, 0.868);
    padding-right:15px;
    padding-left:15px;
    position: sticky;
    top:0;
}

#navdiv-red {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(190, 46, 46, 0.868);
}

.li-red {
    list-style: none;
    display: inline-block;
    background-color: rgba(190, 46, 46, 0.868);
}

.li-red a{
    color:rgb(248, 246, 211);
    font-family: "Limelight", sans-serif;
    font-size:20px;
    margin-right:20px;
    background-color: rgba(190, 46, 46, 0.868);
}

#homepageimage1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    align-items: center;
    padding:2px;
    max-width: 200px;
    max-height: 200px;
    min-height: 100px;
    min-width: 100px;
    

}

.p-red {
    
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgb(169, 57, 37);
}

#h1-red {
    color: rgba(181, 29, 29, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    padding:2px;
}


#button-red {
    text-decoration: none;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(237, 172, 167);
    border-style: double;
    background-color: rgb(169, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#button-red a {
    background-color: rgb(169, 66, 66);
    text-decoration: none;
    color: rgb(248, 246, 211);
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    position: relative;
    bottom: 1px;
}


#fig-red {
    font-size: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 600;
    color: rgb(169, 57, 37);
    display: flex;
    max-width: 250px;
    position: relative;
    left:1000px;
    top:225px;
    
    
    
}

.a-red {
    font-size: 10px;
    text-decoration: underline;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 600;
    color: rgb(169, 57, 37);
}

.textboxhome {
    background-color: rgb(245, 235, 215);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
}

.textboxhome p{
    background-color: rgb(245, 235, 215);

}


/*SCIENCE PAGE*/

#science-orange {
    background-color: rgb(255, 187, 119);
}

#navbar-orange {
    background-color: rgba(220, 83, 33, 0.868);
    padding-right:15px;
    padding-left:15px;
    position: sticky;
    top:0;
}

#navbar-orange ul{
    background-color: rgba(220, 83, 33, 0.868);
}

#navdiv-orange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(220, 83, 33, 0.868);
}

.navbarli-orange {
    list-style: none;
    display: inline-block;
    background-color: rgba(220, 83, 33, 0.868);
}

.navbarli-orange a {
    color:rgb(248, 246, 211);
    font-family: "Limelight", sans-serif;
    font-size:20px;
    margin-right:20px;
    background-color: rgba(220, 83, 33, 0.868);
}

#h1-orange {
    color: rgba(184, 58, 12, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    padding:2px;
}

.p-orange {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(220, 83, 33, 0.868);
}

.fundamentalsbutton {
    text-decoration: none;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 206, 137);
    border-style: double;
    background-color: rgba(220, 83, 33, 0.868);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fundamentalsbutton a {
    background-color: rgba(220, 83, 33, 0.868);
    text-decoration: none;
    color: rgb(248, 246, 211);
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
}

.li-orange {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(148, 45, 8, 0.868);
}

.textbox-orange {
    background-color: rgb(245, 235, 215);
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    
    padding: 10px;
    border-radius: 5px;
}

.textbox-orange p{
    background-color: rgb(245, 235, 215);

}


.a-orange {
    text-decoration: underline;
    font-size: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(148, 45, 8, 0.868);
}

.scienceimg1 {
    height: 200px;
    width: 250px;
    float: right;
    padding: 15px;
    align-items: center;
    display: flex;
}

.container {
    display:flex;
    flex-direction: column-reverse;
    align-items:flex-end;
    float:right;
    
}

.scienceimgcolumn {
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: flex-end;
    
}

.fig-orange {
    float:right;
    justify-content: flex-end;
    font-size: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 600;
    color: rgb(169, 57, 37);
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    flex-direction: row-reverse;
    justify-content: space-between;

}

#fig-orange-bottom {
    display: flex;
    font-size: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 600;
    color: rgb(169, 57, 37);
    align-self: flex-end;
    
}


/*Fundamentals page*/
 
#fundamentalsyellow {
    background-color: rgb(255, 218, 139);
}

#navbar-yellow {
    background-color: rgba(238, 174, 54, 0.868);
    padding-right:15px;
    padding-left:15px;
    position: sticky;
    top:0;
}

#navdiv-yellow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(238, 174, 54, 0.868);
}

.li-yel {
    list-style: none;
    display: inline-block;
    background-color: rgba(238, 174, 54, 0.868);
}

.li-yel a{
    color:rgb(248, 246, 211);
    font-family: "Limelight", sans-serif;
    font-size:20px;
    margin-right:20px;
    background-color: rgba(238, 174, 54, 0.868);
}

#headlineyellow {
    color: rgba(230, 160, 20, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    padding:2px;
}

.h2-yel {
    color: rgba(230, 160, 20, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 28px;
    padding:2px;
}

.p-yel {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(222, 162, 43, 0.913);
}

.textboxyellow {
    background-color: rgb(245, 235, 215);
    display: flex;
    flex-wrap: wrap;
    max-width:700px;
    padding: 10px;
    border-radius: 5px;

}

.yellowimg {
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    max-width:300px;
}

.containeryellow {
display:flex;
flex-direction: column;
float:right;
}

#emotionbutton {
    text-decoration: none;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 235, 137);
    border-style: double;
    background-color: rgba(242, 189, 31, 0.868);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#emotionbutton a {
    background-color: rgba(242, 189, 31, 0.868);
    text-decoration: none;
    color: rgb(248, 246, 211);
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;

}

.figyellow{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    font-size: 10px;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgb(124, 93, 0);
    float:right;
    
}


.a-yel {
    font-size: 10px;
    text-decoration: underline;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgb(124, 93, 0);
}

/*Emotions page */

#bodygreen {
    background-color: rgba(176, 227, 126, 0.886);
}

#navbar-green {
    background-color: rgba(63, 133, 44, 0.575);
    padding-right:15px;
    padding-left:15px;
    position: sticky;
    top:0;
}

#navdiv-green {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(63, 133, 44, 0.575);
}

.li-green {
    list-style: none;
    display: inline-block;
    background-color: rgba(63, 133, 44, 0.575);
}

.li-green a {
    color:rgb(248, 246, 211);
    font-family: "Limelight", sans-serif;
    font-size:20px;
    margin-right:20px;
    background-color: rgba(63, 133, 44, 0.575);
}

.headinggreen {
    color: rgba(39, 91, 7, 0.623);
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    padding:2px;
    text-align: center;
}

.h2green {
    color: rgba(60, 128, 28, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 28px;
    padding:2px;
}

.p-green {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(83, 139, 57, 0.868);
    display: inline-block;
    text-align: center;
}

.textboxgreen {
    justify-content: center;
    justify-self: center;
    background-color: rgb(245, 235, 215);
    display: flex;
    flex-wrap: wrap;
    width:1200px;
    border-radius: 5px;
}

#containergreen {
display:flex;
flex-direction: row;
}

.imgrowgreen {
    width: 200px;
    height: 200px;
    bottom: auto;
}

.a-green {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(35, 75, 17, 0.705);
    text-decoration: underline;

}

.figgreen {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(63, 122, 36, 0.868);

}

.figcontainergreen {
    display:flex;
    flex-direction: column;
    text-align: center;
}
/*Color interaction Page*/

#bodyblue {
    background-color: rgba(142, 181, 239, 0.886);
}

#navbar-blue {
    background-color: rgba(27, 66, 111, 0.575);
    padding-right:15px;
    padding-left:15px;
    position: sticky;
    top:0;
}

#navdiv-blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(28, 80, 144, 0.575);
}

.li-blue {
    list-style: none;
    display: inline-block;
    background-color: rgba(28, 80, 144, 0.575);
}

.li-blue a {
    color:rgb(248, 246, 211);
    font-family: "Limelight", sans-serif;
    font-size:20px;
    margin-right:20px;
    background-color: rgba(28, 80, 144, 0.575);
}

.h1blue {
    color: rgba(28, 63, 128, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    padding:2px;
    
}

.h2-blue {
    color: rgba(28, 63, 128, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 28px;
    padding:2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.p-blue {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(18, 45, 117, 0.868);
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.h3-blue {
    color: rgba(28, 63, 128, 0.868);
    font-family: "Limelight", sans-serif;
    font-size: 25px;
    padding:2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.p-blue {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 800;
    color: rgba(28, 63, 128, 0.868);
    display: flex;
    display: inline-block;
    justify-content: center;
}

.textboxblue {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 235, 215);
    flex-wrap: wrap;
    max-width:1200px;
    border-radius: 5px;
    

}

.img-blue {
    max-width: 480px;
    max-height: 480px;
}

.containerblue {
    display:flex;
    flex-direction: row-reverse;
    float: center;
    justify-content:center;
    align-items:flex-end;
    
}


.captioncontainerblue  {
    display:flex;
    flex-direction: column-reverse;
    float:center;
}